{% extends "template.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Organized Twitter Client</h1>
    <img src="{{ request.static_url('organized_twitter_client:static/img/oeee.jpg') }}" />
{% endblock %}